In [29]:
import pandas as pd
import numpy as np

Data Preprocessing

In [30]:
data=pd.read_csv("flipkart_product.csv", encoding='latin1')
print(data.head(10))

                                         ProductName     Price Rate  \
0  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    5
1  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    5
2  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    3
3  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    1
4  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    3
5  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    5
6  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    5
7  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    3
8  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    1
9  Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...  ??3,999    4

               Review                                            Summary
0              Super!  Great cooler.. excellent air flow and for this...
1             Awesome             Best budget 2 fit cooler. Nice cooling
2                Fair  The quality is good but the power of air is de...
3     Useless product                 Very bad product it's a only a fan
4                Fair                                      Ok ok product
5             Awesome  The cooler is really fantastic and provides go...
6  Highly recommended                                  Very good product
7                Nice                                          Very nice
8      Unsatisfactory                                    Very bad cooler
9     Worth the money                                          Very good

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189874 entries, 0 to 189873
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ProductName  189874 non-null  object
 1   Price        189873 non-null  object
 2   Rate         189873 non-null  object
 3   Review       189870 non-null  object
 4   Summary      189860 non-null  object
dtypes: object(5)
memory usage: 7.2+ MB

In [32]:
data.isnull().sum()

ProductName     0
Price           1
Rate            1
Review          4
Summary        14
dtype: int64

In [33]:
print(data['Price'])

0         ??3,999
1         ??3,999
2         ??3,999
3         ??3,999
4         ??3,999
            ...
189869      â¹142
189870      â¹142
189871      â¹142
189872      â¹142
189873         NaN
Name: Price, Length: 189874, dtype: object

In [34]:
data.nunique()

ProductName      812
Price            561
Rate               9
Review          1264
Summary        98343
dtype: int64

In [35]:
def check_price(price):
    try:
        float(price.replace('₹', '').replace(',', ''))
        return True
    except:
        return False
problematic_prices = data[~(data['Price'].apply(check_price))]
print(problematic_prices['Price'])

0         ??3,999
1         ??3,999
2         ??3,999
3         ??3,999
4         ??3,999
            ...
189869      â¹142
189870      â¹142
189871      â¹142
189872      â¹142
189873         NaN
Name: Price, Length: 189874, dtype: object

In [36]:
import re
import time
def clean_price(price):
    if(pd.isna(price)):
        return None
    else:
        price=str(price).replace('₹', '').replace(',', '')
        cleaned_price=re.search(r'\d+\.?\d*', price)
        cleaned_price = cleaned_price.group(0) if cleaned_price else None
        return cleaned_price if cleaned_price else None
    
data['Cleaned_Price'] = data['Price'].apply(clean_price)
print(data['Cleaned_Price'].head(10))

0    3999
1    3999
2    3999
3    3999
4    3999
5    3999
6    3999
7    3999
8    3999
9    3999
Name: Cleaned_Price, dtype: object

In [37]:
data['Cleaned_Price'].to_csv("cleaned_prices.csv", index=False)

In [38]:
data.head()

,ProductName,Price,Rate,Review,Summary,Cleaned_Price
0,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",5,Super!,Great cooler.. excellent air flow and for this...,3999
1,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",5,Awesome,Best budget 2 fit cooler. Nice cooling,3999
2,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",3,Fair,The quality is good but the power of air is de...,3999
3,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",1,Useless product,Very bad product it's a only a fan,3999
4,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",3,Fair,Ok ok product,3999

In [39]:
data['Cleaned_Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 189874 entries, 0 to 189873
Series name: Cleaned_Price
Non-Null Count   Dtype
--------------   -----
189873 non-null  object
dtypes: object(1)
memory usage: 1.4+ MB

In [40]:
data.isnull().sum()

ProductName       0
Price             1
Rate              1
Review            4
Summary          14
Cleaned_Price     1
dtype: int64

In [41]:
data['Cleaned_Price'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
189869    False
189870    False
189871    False
189872    False
189873     True
Name: Cleaned_Price, Length: 189874, dtype: bool

In [42]:
data

,ProductName,Price,Rate,Review,Summary,Cleaned_Price
0,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",5,Super!,Great cooler.. excellent air flow and for this...,3999
1,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",5,Awesome,Best budget 2 fit cooler. Nice cooling,3999
2,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",3,Fair,The quality is good but the power of air is de...,3999
3,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",1,Useless product,Very bad product it's a only a fan,3999
4,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",3,Fair,Ok ok product,3999
...,...,...,...,...,...,...
189869,"NIVEA Soft Light Moisturizer for Face, Hand & ...",â¹142,5,Terrific,Thanks,142
189870,"NIVEA Soft Light Moisturizer for Face, Hand & ...",â¹142,5,Terrific,Good,142
189871,"NIVEA Soft Light Moisturizer for Face, Hand & ...",â¹142,5,Just wow!,Super,142
189872,"NIVEA Soft Light Moisturizer for Face, Hand & ...",â¹142,4,Worth the money,Good,142
189873,,NaN,NaN,NaN,NaN,None

In [43]:
data['Cleaned_Price']=pd.to_numeric(data['Cleaned_Price'])

In [44]:
print("Rows with Nan after cleaning:", data['Cleaned_Price'].isnull().sum())
data['Cleaned_Price'].describe()

Rows with Nan after cleaning: 1

count    189873.000000
mean       4347.316846
std       10202.270993
min           1.500000
25%         339.000000
50%         699.000000
75%        3399.000000
max       86990.000000
Name: Cleaned_Price, dtype: float64

In [45]:
data=data.dropna(subset=['Cleaned_Price'])

In [46]:
data['Price']=data['Cleaned_Price']

C:\Users\anasm\AppData\Local\Temp\ipykernel_10504\2459637827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Price']=data['Cleaned_Price']

In [47]:
data.head(10)

,ProductName,Price,Rate,Review,Summary,Cleaned_Price
0,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Super!,Great cooler.. excellent air flow and for this...,3999.0
1,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Awesome,Best budget 2 fit cooler. Nice cooling,3999.0
2,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,3,Fair,The quality is good but the power of air is de...,3999.0
3,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,1,Useless product,Very bad product it's a only a fan,3999.0
4,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,3,Fair,Ok ok product,3999.0
5,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Awesome,The cooler is really fantastic and provides go...,3999.0
6,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Highly recommended,Very good product,3999.0
7,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,3,Nice,Very nice,3999.0
8,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,1,Unsatisfactory,Very bad cooler,3999.0
9,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,4,Worth the money,Very good,3999.0

In [48]:
data.drop('Cleaned_Price', axis=1, inplace=True)

C:\Users\anasm\AppData\Local\Temp\ipykernel_10504\1140691161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop('Cleaned_Price', axis=1, inplace=True)

In [49]:
data.head(10)

,ProductName,Price,Rate,Review,Summary
0,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Super!,Great cooler.. excellent air flow and for this...
1,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Awesome,Best budget 2 fit cooler. Nice cooling
2,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,3,Fair,The quality is good but the power of air is de...
3,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,1,Useless product,Very bad product it's a only a fan
4,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,3,Fair,Ok ok product
5,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Awesome,The cooler is really fantastic and provides go...
6,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,5,Highly recommended,Very good product
7,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,3,Nice,Very nice
8,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,1,Unsatisfactory,Very bad cooler
9,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,3999.0,4,Worth the money,Very good

In [50]:
data.isnull().sum()

ProductName     0
Price           0
Rate            0
Review          3
Summary        13
dtype: int64

In [51]:
data=data.dropna(subset=['Summary'])
data['Review']=data['Review'].fillna('No Review found in this')

In [52]:
data['Rate']=pd.to_numeric(data['Rate'],errors='coerce')
data.dropna(subset=['Rate'], inplace=True)
data['Rate'] = data['Rate'].astype(int)
data['Rate'].describe()

count    189856.000000
mean          4.114387
std           1.304905
min           1.000000
25%           4.000000
50%           5.000000
75%           5.000000
max           5.000000
Name: Rate, dtype: float64

In [53]:
data.isnull().sum()

ProductName    0
Price          0
Rate           0
Review         0
Summary        0
dtype: int64

In [56]:
import re
def clean_text(text):
    return re.sub(r'[^a-zA-Z0-9\s]', '', text)
data['Review'] = data['Review'].apply(clean_text)
data['Review'].head(10)

0                 Super
1               Awesome
2                  Fair
3       Useless product
4                  Fair
5               Awesome
6    Highly recommended
7                  Nice
8        Unsatisfactory
9       Worth the money
Name: Review, dtype: object

In [58]:
data['ProductName'] = data['ProductName'].apply(clean_text)
data['ProductName'].head(10)
data['Summary'] = data['Summary'].apply(clean_text)
data['Summary'].head(10)

0    Great cooler excellent air flow and for this p...
1                Best budget 2 fit cooler Nice cooling
2    The quality is good but the power of air is de...
3                    Very bad product its a only a fan
4                                        Ok ok product
5    The cooler is really fantastic and provides go...
6                                    Very good product
7                                            Very nice
8                                      Very bad cooler
9                                            Very good
Name: Summary, dtype: object

In [59]:
def lowercase_text(text):
    return text.lower() if isinstance(text, str) else text

In [60]:
data['ProductName'] = data['ProductName'].apply(lowercase_text)
data['Summary'] = data['Summary'].apply(lowercase_text)
data['Review'] = data['Review'].apply(lowercase_text)
data.head(10)

,ProductName,Price,Rate,Review,Summary
0,candes 12 l roompersonal air coolerwhite black...,3999.0,5,super,great cooler excellent air flow and for this p...
1,candes 12 l roompersonal air coolerwhite black...,3999.0,5,awesome,best budget 2 fit cooler nice cooling
2,candes 12 l roompersonal air coolerwhite black...,3999.0,3,fair,the quality is good but the power of air is de...
3,candes 12 l roompersonal air coolerwhite black...,3999.0,1,useless product,very bad product its a only a fan
4,candes 12 l roompersonal air coolerwhite black...,3999.0,3,fair,ok ok product
5,candes 12 l roompersonal air coolerwhite black...,3999.0,5,awesome,the cooler is really fantastic and provides go...
6,candes 12 l roompersonal air coolerwhite black...,3999.0,5,highly recommended,very good product
7,candes 12 l roompersonal air coolerwhite black...,3999.0,3,nice,very nice
8,candes 12 l roompersonal air coolerwhite black...,3999.0,1,unsatisfactory,very bad cooler
9,candes 12 l roompersonal air coolerwhite black...,3999.0,4,worth the money,very good

In [61]:
def rate_to_category(rate):
    if rate >= 4:
        return 'positive'
    elif rate == 3:
        return 'neutral'
    else:
        return 'negative'
data['Sentiment_from_rate'] = data['Rate'].apply(rate_to_category)
data['Sentiment_from_rate'].value_counts()

Sentiment_from_rate
positive    148335
negative     25841
neutral      15680
Name: count, dtype: int64

In [ ]:
data.head